<!--div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
	  <br>
	  <br>
	  <a class="btn btn-info btn-lg" href="#"><span class="glyphicon glyphicon-leaf" style="color: green; font-size:25px"></span> Learn more</a>
	</div>
</div-->



<div id="miSlider" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#miSlider" data-slide-to="0" class="active"></li>
	  <li data-target="#miSlider" data-slide-to="1"></li>
	  <li data-target="#miSlider" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	  <div class="item active">
	    <%= image_tag("img1.jpg", :alt => "Image 1", :style => 'width: 100%')%>
	    <div class="carousel-caption" style="color: gray;">
	      <h1>Persona 1</h1>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      tempor.</p>
	    </div>
	  </div>

	  <div class="item">
	    <%= image_tag("img2.jpg", :alt => "Image 2", :style => 'width: 100%')%>
	    <div class="carousel-caption" style="color: gray;">
	      <h1>Persona 2</h1>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      tempor.</p>
	    </div>
	  </div>

	  <div class="item">
	    <%= image_tag("img3.jpg", :alt => "Image 3", :style => 'width: 100%')%>
	    <div class="carousel-caption" style="color: gray;">
	      <h1>Persona 3</h1>
	      <p>Lorem ipsum.</p>
	    </div>
	  </div>
	</div>

  <!-- Controls -->
  <a class="carousel-control left" href="#miSlider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#miSlider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h1>Título</h1>
			</div>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h2>Subtítulos</h2>
			</div>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h3>Sub subtítulo</h3>
			</div>	
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h6>Sub... subtítulo</h6>
			</div>	
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
			<img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="Rails logo" class="img-responsive">
		</div>

		<div class="col-md-4">
			<img src="http://imagenesdeautosdeportivos.com/wp-content/uploads/2015/08/Foto-de-Autos-Tuning-para-Descargar-mujeres.jpg" alt="Chevrolet Camaro transformer" class="img-responsive">

			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>	
			</ul>
		</div>
	</div>
</div>



